@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #eee;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.app {
  min-height: 100vh;
}